.DS_store
sites.js
dist/
index-sample.html
slice-*.*
Makefile
*.zip
credentials.sh

# assets
assets/Chrome App Icon Export.png
assets/Chrome App Icon Export@2x.png
assets/app-icon-128.png
assets/app-icon.sketch/
assets/screenshot-1280.png
assets/screenshot-640.png

# dependencies
node_modules

# testing
coverage

# production
build

# misc
.DS_Store
.env
npm-debug.log
yarn-error.log
