.DS_store
sites.js
index-sample.html
slice-*.*
Makefile
*.zip
credentials.sh

# assets
assets/*
!assets/screenshot.png

# dependencies
node_modules

# testing
coverage

# production
build/
dist/

# misc
.DS_Store
.env
npm-debug.log
yarn-error.log
