.bg-dark .item-container,
.bg-dark .item-container p,
.bg-dark .item-container a { color: #ffffff; }

.bg-light .item-container,
.bg-light .item-container p,
.bg-light .item-container a { color: #333333; }

.item a.dbg {
  display: block;
  background: black;
  color: green;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9001;
}

.controls {
  margin-top: 8px;
}

.controls a, .controls button {
  display: inline-block;
  margin-right: 6px;
}

.item .item-container {
  position: relative;
}

.item .item-image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.item .item-controls {
  z-index: 12;
  position: absolute;
  bottom: 6px;
  right: 6px;
}

.item .link-link {
  display: block;
  width: 100%;
  height: 100%;
}

.item .item-container .item-label {
  display: inline-block;
  padding: 8px;
  padding-top: 6px;
  font-size: 18px;
  line-height: 1em;
}

.item-preview .item {
  width: 260px;
  height: 200px;
}

.block-item {
  border: 1px solid transparent;
}

.block-item.bordered {
  border: 1px solid #333333;
}

