
.block-item {
  /* border-radius: 4px;
   */
  height: 100%;
  width: 100%;
}

.block-item.editing {
  border: 1px dashed black;
  cursor: move;
}

.block-item .drag-layer {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 11;
  width: 100%;
  height: 100%;
  cursor: move;
}

.react-grid-item > .react-resizable-handle {
  background-repeat: no-repeat;
  color: white;
  z-index: 20;
}


/* handle 0-second grid transitions on layout */
.unready .react-grid-layout {
  position: relative;
  transition: none;
}
.unready .react-grid-item {
  transition: none;
  transition-property: none;
}
.unready .react-grid-item.cssTransforms {
  transition-property: none;
}

